<?xml version="1.0" encoding="UTF-8"?>
<suite name="TS5_Sanity_Testsuite">
    <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  <test name="End To End">
    <classes>
      <class name="com.tests.DemoTests" />
    </classes>
  </test>
</suite>